# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

from typing import Dict, Union, Optional

import httpx

from .manage import (
    ManageResource,
    AsyncManageResource,
    ManageResourceWithRawResponse,
    AsyncManageResourceWithRawResponse,
    ManageResourceWithStreamingResponse,
    AsyncManageResourceWithStreamingResponse,
)
from ...types import trigger_instance_upsert_params, trigger_instance_list_active_params
from ..._types import Body, Omit, Query, Headers, NotGiven, SequenceNotStr, omit, not_given
from ..._utils import maybe_transform, async_maybe_transform
from ..._compat import cached_property
from ..._resource import SyncAPIResource, AsyncAPIResource
from ..._response import (
    to_raw_response_wrapper,
    to_streamed_response_wrapper,
    async_to_raw_response_wrapper,
    async_to_streamed_response_wrapper,
)
from ..._base_client import make_request_options
from ...types.trigger_instance_upsert_response import TriggerInstanceUpsertResponse
from ...types.trigger_instance_list_active_response import TriggerInstanceListActiveResponse

__all__ = ["TriggerInstancesResource", "AsyncTriggerInstancesResource"]


class TriggerInstancesResource(SyncAPIResource):
    @cached_property
    def manage(self) -> ManageResource:
        return ManageResource(self._client)

    @cached_property
    def with_raw_response(self) -> TriggerInstancesResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/ComposioHQ/composio-base-py#accessing-raw-response-data-eg-headers
        """
        return TriggerInstancesResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> TriggerInstancesResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/ComposioHQ/composio-base-py#with_streaming_response
        """
        return TriggerInstancesResourceWithStreamingResponse(self)

    def list_active(
        self,
        *,
        query_auth_config_ids_1: Optional[SequenceNotStr[str]] | Omit = omit,
        query_auth_config_ids_2: Optional[SequenceNotStr[str]] | Omit = omit,
        query_connected_account_ids_1: Optional[SequenceNotStr[str]] | Omit = omit,
        query_connected_account_ids_2: Optional[SequenceNotStr[str]] | Omit = omit,
        cursor: str | Omit = omit,
        deprecated_auth_config_uuids: Optional[SequenceNotStr[str]] | Omit = omit,
        deprecated_connected_account_uuids: Optional[SequenceNotStr[str]] | Omit = omit,
        limit: Optional[float] | Omit = omit,
        query_show_disabled_1: Optional[bool] | Omit = omit,
        query_show_disabled_2: Optional[bool] | Omit = omit,
        query_trigger_ids_1: Optional[SequenceNotStr[str]] | Omit = omit,
        query_trigger_names_1: Optional[SequenceNotStr[str]] | Omit = omit,
        query_trigger_ids_2: Optional[SequenceNotStr[str]] | Omit = omit,
        query_trigger_names_2: Optional[SequenceNotStr[str]] | Omit = omit,
        user_ids: Optional[SequenceNotStr[str]] | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> TriggerInstanceListActiveResponse:
        """
        Args:
          query_auth_config_ids_1: Array of auth config IDs to filter triggers by

          query_auth_config_ids_2: DEPRECATED: This parameter will be removed in a future version. Please use
              auth_config_ids instead.

          query_connected_account_ids_1: Array of connected account IDs to filter triggers by

          query_connected_account_ids_2: DEPRECATED: This parameter will be removed in a future version. Please use
              connected_account_ids instead.

          cursor: Cursor for pagination. The cursor is a base64 encoded string of the page and
              limit. The page is the page number and the limit is the number of items per
              page. The cursor is used to paginate through the items. The cursor is not
              required for the first page.

          deprecated_auth_config_uuids: DEPRECATED: This parameter will be removed in a future version. Please use
              auth_config_ids instead.

          deprecated_connected_account_uuids: DEPRECATED: This parameter will be removed in a future version. Please use
              connected_account_ids instead.

          limit: Number of items per page, max allowed is 1000

          query_show_disabled_1: When set to true, includes disabled triggers in the response.

          query_show_disabled_2: DEPRECATED: This parameter will be removed in a future version. Please use
              show_disabled instead.

          query_trigger_ids_1: Array of trigger IDs to filter triggers by

          query_trigger_names_1: Array of trigger names to filter triggers by. Case-insensitive (internally
              normalized to uppercase).

          query_trigger_ids_2: DEPRECATED: This parameter will be removed in a future version. Please use
              trigger_ids instead.

          query_trigger_names_2: DEPRECATED: This parameter will be removed in a future version. Please use
              trigger_names instead.

          user_ids: Array of user IDs to filter triggers by

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._get(
            "/api/v3/trigger_instances/active",
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform(
                    {
                        "query_auth_config_ids_1": query_auth_config_ids_1,
                        "query_auth_config_ids_2": query_auth_config_ids_2,
                        "query_connected_account_ids_1": query_connected_account_ids_1,
                        "query_connected_account_ids_2": query_connected_account_ids_2,
                        "cursor": cursor,
                        "deprecated_auth_config_uuids": deprecated_auth_config_uuids,
                        "deprecated_connected_account_uuids": deprecated_connected_account_uuids,
                        "limit": limit,
                        "query_show_disabled_1": query_show_disabled_1,
                        "query_show_disabled_2": query_show_disabled_2,
                        "query_trigger_ids_1": query_trigger_ids_1,
                        "query_trigger_names_1": query_trigger_names_1,
                        "query_trigger_ids_2": query_trigger_ids_2,
                        "query_trigger_names_2": query_trigger_names_2,
                        "user_ids": user_ids,
                    },
                    trigger_instance_list_active_params.TriggerInstanceListActiveParams,
                ),
            ),
            cast_to=TriggerInstanceListActiveResponse,
        )

    def upsert(
        self,
        slug: str,
        *,
        connected_account_id: str | Omit = omit,
        connected_auth_id: str | Omit = omit,
        toolkit_versions: Union[str, Dict[str, str], None] | Omit = omit,
        body_trigger_config_1: Dict[str, Optional[object]] | Omit = omit,
        body_trigger_config_2: Dict[str, Optional[object]] | Omit = omit,
        version: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> TriggerInstanceUpsertResponse:
        """Args:
          slug: The slug of the trigger instance.

        Case-insensitive (internally normalized to
              uppercase).

          connected_account_id: Connected account nanoid

          connected_auth_id: DEPRECATED: This parameter will be removed in a future version. Please use
              connected_account_id instead.

          toolkit_versions: Toolkit version specification. Supports "latest" string or a record mapping
              toolkit slugs to specific versions.

          body_trigger_config_1: Trigger configuration

          body_trigger_config_2: DEPRECATED: This parameter will be removed in a future version. Please use
              trigger_config instead.

          version: DEPRECATED: This parameter will be removed in a future version. Please use
              toolkit_versions instead.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not slug:
            raise ValueError(f"Expected a non-empty value for `slug` but received {slug!r}")
        return self._post(
            f"/api/v3/trigger_instances/{slug}/upsert",
            body=maybe_transform(
                {
                    "connected_account_id": connected_account_id,
                    "connected_auth_id": connected_auth_id,
                    "toolkit_versions": toolkit_versions,
                    "body_trigger_config_1": body_trigger_config_1,
                    "body_trigger_config_2": body_trigger_config_2,
                    "version": version,
                },
                trigger_instance_upsert_params.TriggerInstanceUpsertParams,
            ),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=TriggerInstanceUpsertResponse,
        )


class AsyncTriggerInstancesResource(AsyncAPIResource):
    @cached_property
    def manage(self) -> AsyncManageResource:
        return AsyncManageResource(self._client)

    @cached_property
    def with_raw_response(self) -> AsyncTriggerInstancesResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/ComposioHQ/composio-base-py#accessing-raw-response-data-eg-headers
        """
        return AsyncTriggerInstancesResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncTriggerInstancesResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/ComposioHQ/composio-base-py#with_streaming_response
        """
        return AsyncTriggerInstancesResourceWithStreamingResponse(self)

    async def list_active(
        self,
        *,
        query_auth_config_ids_1: Optional[SequenceNotStr[str]] | Omit = omit,
        query_auth_config_ids_2: Optional[SequenceNotStr[str]] | Omit = omit,
        query_connected_account_ids_1: Optional[SequenceNotStr[str]] | Omit = omit,
        query_connected_account_ids_2: Optional[SequenceNotStr[str]] | Omit = omit,
        cursor: str | Omit = omit,
        deprecated_auth_config_uuids: Optional[SequenceNotStr[str]] | Omit = omit,
        deprecated_connected_account_uuids: Optional[SequenceNotStr[str]] | Omit = omit,
        limit: Optional[float] | Omit = omit,
        query_show_disabled_1: Optional[bool] | Omit = omit,
        query_show_disabled_2: Optional[bool] | Omit = omit,
        query_trigger_ids_1: Optional[SequenceNotStr[str]] | Omit = omit,
        query_trigger_names_1: Optional[SequenceNotStr[str]] | Omit = omit,
        query_trigger_ids_2: Optional[SequenceNotStr[str]] | Omit = omit,
        query_trigger_names_2: Optional[SequenceNotStr[str]] | Omit = omit,
        user_ids: Optional[SequenceNotStr[str]] | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> TriggerInstanceListActiveResponse:
        """
        Args:
          query_auth_config_ids_1: Array of auth config IDs to filter triggers by

          query_auth_config_ids_2: DEPRECATED: This parameter will be removed in a future version. Please use
              auth_config_ids instead.

          query_connected_account_ids_1: Array of connected account IDs to filter triggers by

          query_connected_account_ids_2: DEPRECATED: This parameter will be removed in a future version. Please use
              connected_account_ids instead.

          cursor: Cursor for pagination. The cursor is a base64 encoded string of the page and
              limit. The page is the page number and the limit is the number of items per
              page. The cursor is used to paginate through the items. The cursor is not
              required for the first page.

          deprecated_auth_config_uuids: DEPRECATED: This parameter will be removed in a future version. Please use
              auth_config_ids instead.

          deprecated_connected_account_uuids: DEPRECATED: This parameter will be removed in a future version. Please use
              connected_account_ids instead.

          limit: Number of items per page, max allowed is 1000

          query_show_disabled_1: When set to true, includes disabled triggers in the response.

          query_show_disabled_2: DEPRECATED: This parameter will be removed in a future version. Please use
              show_disabled instead.

          query_trigger_ids_1: Array of trigger IDs to filter triggers by

          query_trigger_names_1: Array of trigger names to filter triggers by. Case-insensitive (internally
              normalized to uppercase).

          query_trigger_ids_2: DEPRECATED: This parameter will be removed in a future version. Please use
              trigger_ids instead.

          query_trigger_names_2: DEPRECATED: This parameter will be removed in a future version. Please use
              trigger_names instead.

          user_ids: Array of user IDs to filter triggers by

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return await self._get(
            "/api/v3/trigger_instances/active",
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=await async_maybe_transform(
                    {
                        "query_auth_config_ids_1": query_auth_config_ids_1,
                        "query_auth_config_ids_2": query_auth_config_ids_2,
                        "query_connected_account_ids_1": query_connected_account_ids_1,
                        "query_connected_account_ids_2": query_connected_account_ids_2,
                        "cursor": cursor,
                        "deprecated_auth_config_uuids": deprecated_auth_config_uuids,
                        "deprecated_connected_account_uuids": deprecated_connected_account_uuids,
                        "limit": limit,
                        "query_show_disabled_1": query_show_disabled_1,
                        "query_show_disabled_2": query_show_disabled_2,
                        "query_trigger_ids_1": query_trigger_ids_1,
                        "query_trigger_names_1": query_trigger_names_1,
                        "query_trigger_ids_2": query_trigger_ids_2,
                        "query_trigger_names_2": query_trigger_names_2,
                        "user_ids": user_ids,
                    },
                    trigger_instance_list_active_params.TriggerInstanceListActiveParams,
                ),
            ),
            cast_to=TriggerInstanceListActiveResponse,
        )

    async def upsert(
        self,
        slug: str,
        *,
        connected_account_id: str | Omit = omit,
        connected_auth_id: str | Omit = omit,
        toolkit_versions: Union[str, Dict[str, str], None] | Omit = omit,
        body_trigger_config_1: Dict[str, Optional[object]] | Omit = omit,
        body_trigger_config_2: Dict[str, Optional[object]] | Omit = omit,
        version: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> TriggerInstanceUpsertResponse:
        """Args:
          slug: The slug of the trigger instance.

        Case-insensitive (internally normalized to
              uppercase).

          connected_account_id: Connected account nanoid

          connected_auth_id: DEPRECATED: This parameter will be removed in a future version. Please use
              connected_account_id instead.

          toolkit_versions: Toolkit version specification. Supports "latest" string or a record mapping
              toolkit slugs to specific versions.

          body_trigger_config_1: Trigger configuration

          body_trigger_config_2: DEPRECATED: This parameter will be removed in a future version. Please use
              trigger_config instead.

          version: DEPRECATED: This parameter will be removed in a future version. Please use
              toolkit_versions instead.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not slug:
            raise ValueError(f"Expected a non-empty value for `slug` but received {slug!r}")
        return await self._post(
            f"/api/v3/trigger_instances/{slug}/upsert",
            body=await async_maybe_transform(
                {
                    "connected_account_id": connected_account_id,
                    "connected_auth_id": connected_auth_id,
                    "toolkit_versions": toolkit_versions,
                    "body_trigger_config_1": body_trigger_config_1,
                    "body_trigger_config_2": body_trigger_config_2,
                    "version": version,
                },
                trigger_instance_upsert_params.TriggerInstanceUpsertParams,
            ),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=TriggerInstanceUpsertResponse,
        )


class TriggerInstancesResourceWithRawResponse:
    def __init__(self, trigger_instances: TriggerInstancesResource) -> None:
        self._trigger_instances = trigger_instances

        self.list_active = to_raw_response_wrapper(
            trigger_instances.list_active,
        )
        self.upsert = to_raw_response_wrapper(
            trigger_instances.upsert,
        )

    @cached_property
    def manage(self) -> ManageResourceWithRawResponse:
        return ManageResourceWithRawResponse(self._trigger_instances.manage)


class AsyncTriggerInstancesResourceWithRawResponse:
    def __init__(self, trigger_instances: AsyncTriggerInstancesResource) -> None:
        self._trigger_instances = trigger_instances

        self.list_active = async_to_raw_response_wrapper(
            trigger_instances.list_active,
        )
        self.upsert = async_to_raw_response_wrapper(
            trigger_instances.upsert,
        )

    @cached_property
    def manage(self) -> AsyncManageResourceWithRawResponse:
        return AsyncManageResourceWithRawResponse(self._trigger_instances.manage)


class TriggerInstancesResourceWithStreamingResponse:
    def __init__(self, trigger_instances: TriggerInstancesResource) -> None:
        self._trigger_instances = trigger_instances

        self.list_active = to_streamed_response_wrapper(
            trigger_instances.list_active,
        )
        self.upsert = to_streamed_response_wrapper(
            trigger_instances.upsert,
        )

    @cached_property
    def manage(self) -> ManageResourceWithStreamingResponse:
        return ManageResourceWithStreamingResponse(self._trigger_instances.manage)


class AsyncTriggerInstancesResourceWithStreamingResponse:
    def __init__(self, trigger_instances: AsyncTriggerInstancesResource) -> None:
        self._trigger_instances = trigger_instances

        self.list_active = async_to_streamed_response_wrapper(
            trigger_instances.list_active,
        )
        self.upsert = async_to_streamed_response_wrapper(
            trigger_instances.upsert,
        )

    @cached_property
    def manage(self) -> AsyncManageResourceWithStreamingResponse:
        return AsyncManageResourceWithStreamingResponse(self._trigger_instances.manage)
